.parent {
    background-color: rgb(11, 139, 194);
    display: grid;
    border: 2px solid black;
    padding: 8px;
    height: 700px;
    /* width:600px; */
    grid-template-columns:1fr 2fr 2fr;
    grid-template-rows:1fr 2fr 2fr;
    gap: 20px;
} 
.child1 {
    /* height:100px; */
    /* width:100px; */
    border:2px solid rgb(33, 47, 3);
    color: azure;
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    font-size: 16px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  

.c1 {
    grid-column: 1/4;
    /* height: 100px; */
    display: flex;
    justify-content:space-evenly;
    font-size: 64px;

}
.c2 {
    grid-column: 1/2; 
    grid-row: 2/4; 
    /* font-size: 20px;   */
}

.c3 {
    grid-column: 2/4;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
img {
    border-radius: 50%;
    height: 100px;
    width:100px;
    /* float: right; */
    
    
}





